.App {
  text-align: center;
  height: 100vh;
}

footer {
  background: white;
  bottom: 0;
  position: absolute;
  width: 100vw;
  height: 3rem;
}

.image {
  background-image: url('./img/swimg.jpg');
  background-size: cover;
  z-index: -10;
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  padding-top: 5rem;
  height: 50rem;
}

.dropdown {
  font-size: 1rem;
  margin: 3em 2em;
  width: 350px;
  background-color: white;
  cursor: pointer;
  outline: none;
  border: 1px solid black
}

.header {
  color: white;
  font-size: 3rem;
}

.movie {
  margin-bottom: 0.5rem;
}

.movies {
  margin-top: 2.5rem;
}
.movies-title {
  font-size: 2rem;
  color: white;
}

.movies-date {
  font-size: 1rem;
  color: white;
}

.error-header {
  color: white
}

.reset-button {
  margin-top: 2rem;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: beige;
  box-shadow: 9px 9px 15px black;
}

/* Loader */
.css-loader {
  display: flex;
  position: relative;
  margin-top: 3rem;
  height: 3rem;
  justify-content: center;
}
.css-loader div {
  position: absolute;
  width: 0.9rem;
  background: white;
  animation: css-loader 1.0s cubic-bezier(0, 0.6, 0.6, 1) infinite;
}
.css-loader div:nth-child(1) {
  left: calc(50% - 2rem);
  transform: translate(-50%, -50%);
  animation-delay: -0.24s;
}
.css-loader div:nth-child(2) {
  left: calc(50%);
  transform: translate(-50%, -50%);
  animation-delay: -0.12s;
}
.css-loader div:nth-child(3) {
  left: calc(50% + 2rem);
  transform: translate(-50%, -50%);
  animation-delay: 0;
}
@keyframes css-loader {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}

/* Media Queries */
@media (max-width: 600px) {
  .header {
    font-size: 2.5rem;
  }

  .movies-title {
    font-size: 1.6rem;
  }

  .movies-date {
    font-size: 1.1rem;
  }

  .container {
    height: 10rem;
  }

  .error-header {
    padding: 0.4rem;
  }
}


@media (max-width: 400px) {
  .dropdown {
    width: 200px;
    margin: 2rem 1rem;
  }

  .header {
    font-size: 2rem;
  }

  .container {
    height: 10rem;
  }

  .movies-title {
    font-size: 1.5rem;
  }

  .movies-date {
    font-size: 1rem;
  }

  .movies {
    margin-top: 1.5rem;
  }

  .error-header {
    padding: 0.4rem;
  }
}