.App {
  text-align: center;
}





/* Loader */
.css-loader {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.css-loader div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: #fcf;
  animation: css-loader 1.0s cubic-bezier(0, 0.6, 0.6, 1) infinite;
}
.css-loader div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.css-loader div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.css-loader div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes css-loader {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}